header {
 background-color: white;
  padding: $s 0;
  border-bottom: 1px solid rgba($white, 0.2);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
  .container {
    @include flex(center, space-between, none);
    nav {
      a {
        margin: 0 $xl-2;
      }
    }
  }
}

.activeLink {
  color: black !important;
  position: relative;
  color: $green;
  &::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green;
  }
}
.dropdown a{
   display: block;
}
.dropdown{
  display: none;
 
  z-index: 1;
  /* right: -294px; */
  right: 278px;
  padding: 8px;
}
.service{
  display: inline;
  color: black;
}
.service:hover .dropdown{
 display: block;
 height: 70px;
 background-color: white;
 font-size: 14px;
 position: absolute;
}


@media screen and (max-width: 800px) {
  header {
    nav {
      display: none;
    }
    .openMenu {
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      height: 46vh;
      padding: 20px;
      background: white;
      display: flex;
      flex-direction: column;
      z-index: 999;
      a {
        width: 100%;
        display: block;
        display: flex;
        margin-bottom: 10px !important;
      }
    }


    .dropdown{
      display: none;
      position: absolute;
      z-index: 1;
      /* right: -294px; */
      right: 278px;
      padding: 8px;
    }
    .dropdownMobile{
      display: block;
      position: relative;
      z-index: 1;
      /* right: -294px; */
      right: 59px;
      /* padding: 8px; */
      font-size: 14px;
      top: 29px;
    }
  
    .button-primary {
      display: none;
    }

  }
  .activeLink {
    &::after {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .dropdown {
    right: 0; /* Adjust the right position as needed for smaller screens */
  }
}